{{- $u := urls.Parse .Destination -}}
{{- $src := $u.String -}}
{{- $image := false -}}
{{- if not $u.IsAbs -}}
  {{- $path := strings.TrimPrefix "./" $u.Path -}}
  {{- with or (.PageInner.Resources.Get $path) (resources.Get $path) -}}
    {{- $src = .RelPermalink -}}
    {{- if in (slice "image/jpeg" "image/png" "image/webp") .MediaType.Type -}}
      {{- $image = . -}}
    {{- end -}}
    {{- with $u.RawQuery }}{{ $src = printf "%s?%s" $src . }}{{ end -}}
    {{- with $u.Fragment }}{{ $src = printf "%s#%s" $src . }}{{ end -}}
  {{- end -}}
{{- end -}}
{{- $attributes := merge .Attributes (dict "alt" .Text "src" $src "title" (.Title | transform.HTMLEscape) "loading" "lazy" "decoding" "async") -}}
{{- with $image -}}
  {{- $attributes = merge (dict "width" .Width "height" .Height) $attributes -}}
  {{- $variants := slice -}}
  {{- range slice 480 800 1200 -}}
    {{- if lt . $image.Width -}}
      {{- $resized := $image.Resize (printf "%dx" .) -}}
      {{- $variants = $variants | append (printf "%s %dw" $resized.RelPermalink $resized.Width) -}}
    {{- end -}}
  {{- end -}}
  {{- if $variants -}}
    {{- $variants = $variants | append (printf "%s %dw" .RelPermalink .Width) -}}
    {{- $attributes = merge $attributes (dict "srcset" (delimit $variants ", ") "sizes" "(max-width: 820px) calc(100vw - 48px), 772px") -}}
  {{- end -}}
{{- end -}}
<img
  {{- range $k, $v := $attributes -}}
    {{- if $v }}{{ printf " %s=%q" $k (printf "%v" $v) | safeHTMLAttr }}{{ end -}}
  {{- end -}}>
{{- /**/ -}}
